html {
    background: #fbfbfb;
}

/* ---------- Main Wrapping Elements ---------- */

.calc-wrapper {
    width: 60%;
    max-width: 692px;
    margin: auto;
    font-family: 'Open Sans', sans-serif;
}

.calc-container {
    margin-top: 10%;
    padding: 5%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background: #fff;
    border-radius: 6px;
    box-shadow: 0 1px 3px 0 #ccc;
}

/* Button Wrapping elements  */

.main-buttons {
    width: 74.5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.operator-buttons {
    width: 23%;
}

/* ---------- Results ---------- */

h1#result {
    font-size: 60px;
    width: 100%;
    text-align: right;
    padding: 3% 0;
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
}

/* ---------- Numbers ---------- */

.number {
    width: 31%;
    text-align: center;
    font-size: 24px;
    color: #696969;
    border-bottom: 2px solid #ccc;
    padding: 10px 0px;
    margin-bottom: 22px;
    cursor: pointer;
}

.number-hover {
    background: #ececec;
    transition: ease .3s;
    color: #000;
    border-radius: 3px 3px 3px 3px;
}

.number-clicked {
    transition: ease 0.3s;
    background: #d2d2d2;
    box-shadow: inset 0px 0px 3px 0px #a0a0a0;
    transition: ease .3s;
    border-radius: 3px 3px 3px 3px;
}

/* ---------- Operator ---------- */

.operator {
    width: 100%;
    text-align: center;
    font-size: 24px;
    color: #696969;
    border-bottom: 2px solid #909090;
    padding: 10px 0px;
    margin-bottom: 22px;
    cursor: pointer;
}

.operator-hover {
    background: #adadad;
    border-radius: 3px;
    transition: ease 0.3s;
    color: black;
}

.operator-clicked {
  background: #666666;
  transition: ease .3s;
  border-radius: 3px 3px 3px 3px;
  border-bottom: 2px solid #666666;
}

/* ---------- Equals ---------- */

#equals {
    width: 100%;
    color: #FF9800;
    text-align: center;
    padding: 10px 0px;
    font-size: 24px;
    border-bottom: 2px solid #FF9800;
    cursor: pointer;
}

.equals-hover {
    background: #FFCC80;
    color: #EF6C00;
    border-radius: 3px 3px 3px 3px;
    transition: ease 0.3s;
}

.equals-clicked {
    background: #FB8C00;
    color: #fff !important;
    transition: ease 0.3s;
}
